body {
  background-image: url(Images/div_back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
#div {
  height: 600px;
  width: 800px;
  display: flex;
}
.from {
  border: 1px solid white;
  height: 400px;
  width: 500px;
  margin-left: 150px;
  margin-top: 70px;
  border-radius: 15px;
  backdrop-filter: blur(5px); /*blur the background */
  padding-top: 25px;
}
.input {
  opacity: 0.5; /* tranparency */
  height: 30px;
  width: 250px;
  border-radius: 20px;
  border: 0px;
  margin-left: 110px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input:first-child {
  margin-top: 40px;
}
#checkbox {
  margin-left: 110px;
}
#f_pass {
  display: inline-block;
  margin-left: 55px;
}
#submit {
  display: block;
  margin-left: 110px;
  width: 250px;
  height: 30px;
  opacity: 0.5;
  border-radius: 20px;
  border: 0px;
}
#submit:hover {
  background-color: white;
  opacity: 1;
  transform: scale(1.1);
}
#Register {
  margin-left: 150px;
}
#login {
  display: flex;
  justify-content: center;
  color: white;
}
