body {
  background-image: url(Images/div_back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
#div {
  height: 600px;
  width: 800px;
  display: flex;
}
.from {
  border: 1px solid white;
  height: 400px;
  width: 500px;
  margin-left: 150px;
  margin-top: 70px;
  border-radius: 15px;
  backdrop-filter: blur(10px); /*blur the background */
  padding-top: 25px;
}
.input {
  background: transparent;
  border: 1px solid white;
  height: 30px;
  width: 250px;
  border-radius: 20px;
  padding: 5px 5px 5px 10px;
  margin-left: 110px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 10px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.input:first-child {
  margin-top: 40px;
}
#checkbox {
  margin-left: 110px;
}
#f_pass {
  display: inline-block;
  margin-left: 55px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#submit {
  display: block;
  padding: 10px 10px;
  margin-left: 110px;
  width: 265px;
  height: 40px;
  opacity: 0.7;
  border-radius: 20px;
  border: 0px;
  background-color: purple;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#submit:hover {
  background-color: white;
  opacity: 1;
  transform: scale(1.1);
  color: black;
}
#Register {
  margin-left: 150px;
}
#login {
  display: flex;
  justify-content: center;
  color: white;
}
#remember-me {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
div a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
